<ngx-spinner bdColor="rgba(0, 0, 0, 0.0)" size="medium" color="#5cb85c" type="timer"></ngx-spinner>

<div class="row">
  <button type="button" style="float: right;" (click)="closeEditor()" class="btn btn-default btn-icon">
    <i class="ti-close"></i>
  </button>
</div>

<div class="row">
  <h2 *ngIf="!isEditMode" style="margin-top: -20px;margin-left: 10px;">Create New Mood</h2>
  <h2 *ngIf="isEditMode" style="margin-top: -20px;margin-left: 10px">Edit Existing Mood</h2>
</div>

<br>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="moodName">Mood Name</label>
      <input type="text" class="form-control" id="moodName" [(ngModel)]="moodName" placeholder="Mood name">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="iconName">Icon Name</label>
      <input type="text" class="form-control" id="iconName" [(ngModel)]="iconName" placeholder="Icon name">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="MoodPicture">Mood Picture</label>
      <input type="file" class="form-control" id="MoodPicture">
    </div>
  </div>
</div>

<br>

<div class="row">
  <button type="submit" style="float: right;" *ngIf="!isEditMode" (click)="addNewMood()" class="btn btn-primary">Add
    Mood</button>
  <button type="submit" style="float: right;" *ngIf="isEditMode" (click)="updateMood()"
    class="btn btn-primary">Update</button>
</div>