<ngx-spinner bdColor="rgba(0, 0, 0, 0.0)" size="medium" color="#5cb85c" type="timer"></ngx-spinner>

<div class="row">
  <button type="button" style="float: right;" (click)="closeEditor()" class="btn btn-default btn-icon">
    <i class="ti-close"></i>
  </button>
</div>

<div class="row">
  <h2 *ngIf="!isEditMode" style="margin-top: -20px;">Create New Program</h2>
  <h2 *ngIf="isEditMode" style="margin-top: -20px;">Edit Existing Program</h2>
</div>

<br>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="name">Program Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" placeholder="Program name">
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="categoryName">Category Name</label>
      <select class="form-control" [(ngModel)]="selectedCategory">
        <option *ngFor="let category of categoriesArray | keyvalue" class="categoryName" [ngValue]="category._id">
          {{category.value.name}}
        </option>
      </select>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="song">Music to upload:</label>
      <input type="file" class="form-control" name="programSong" id="programSong" accept="audio/*">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="programPicture">Program Picture</label>
      <input type="file" class="form-control" name="programPicture" id="programPicture" accept="image/*">
    </div>
  </div>
</div>

<br>

<div class="row">
  <button style="float: right;" *ngIf="!isEditMode" (click)="addNewProgram()" class="btn btn-primary">Add
  </button>
  <button style="float: right;" *ngIf="isEditMode" (click)="updateProgram()" class="btn btn-primary">Update</button>
</div>